.container{
	display: block; 
	width: 100%
}

.col-lg-8{
	text-align: center; 
	width: 100%
}

.col-md-4{
	width: 100%;
}

img{
	width: 50%;
}

form{
	padding: 5% 0;
}

textarea{
	width: 300px;
    height: 150px;
    margin-top:15px;
    outline: none;
	-webkit-box-shadow: inset -2px -2px 52px -14px rgba(0,0,0,0.48);
	-moz-box-shadow: inset -2px -2px 52px -14px rgba(0,0,0,0.48);
	box-shadow: inset -2px -2px 52px -14px rgba(0,0,0,0.48);
}

input[type=email]{
	padding: 10px;
  	margin: 15px 0;
}

input[type=email]:focus {
	outline: none;
}

/* If textarea and email is valid (.ng-valid.ng-dirty) turn green else turn red (.ng-invalid.ng-dirty)*/
input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
	border-color: #FA787E;
	box-shadow: 0 0 5px 1px #FA787E;
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty{
	border-color: #78FA89;
	box-shadow: 0 0 5px 1px #78FA89;
}